
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/ADObjectHealthScan/.vs/*
library/ADObjectHealthScan/ADObjectHealthScan/bin/*
library/ADObjectHealthScan/ADObjectHealthScan/obj/*

# ignore PowerShell Studio MetaData
ADObjectHealthScan/ADObjectHealthScan.psproj
ADObjectHealthScan/ADObjectHealthScan.psproj.bak
ADObjectHealthScan/ADObjectHealthScan.psprojs
ADObjectHealthScan/ADObjectHealthScan.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*